@import "./mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f7f7f7;
}
button {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
.container {
  @include container;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
