@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import "./mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  height: 100%;
  font-family: "Montserrat";
  color: $black;
  font-weight: 400;
  font-style: normal;
  @include fluid(font-size, 12px, 14px);
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.content {
  @include container;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
